:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f5f5f5;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}